/* font-family: 'Roboto', sans-serif; */

/* generali */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

/* definizione container larghezza */
.container{
    width: 60%;
    margin: 0 auto;
    border: 1px solid red;
}

/* definizione section standard */
.immagine{
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* prima riga */
.container section{
    width: calc(100% / 3 - 10px);
    height: 600px;
    float: left;
    margin: 5px 5px;
    position: relative;
}

.preferiti{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 15px;
    right: 0;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    background-color: white;
    cursor: pointer;
}

.sconto{
    position: absolute;
    bottom: 20px;
    cursor: default;
}

.percentuale{
    width: 45px;
    height: 25px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    color: white;
    font-weight: bold;
    background-color: rgb(253, 55, 55);
}

.sostenibilita{
    width: 100px;
    height: 25px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    color: white;
    font-weight: bold;
    background-color: rgb(31, 131, 31);
}

.prima{
    background-image: url(../img/1.webp);
}

.seconda{
    background-image: url(../img/2.webp);
}

.terza{
    background-image: url(../img/3.webp);
}

/* prima riga hover */
.prima:hover{
    background-image: url(../img/1b.webp);
}

.seconda:hover{
    background-image: url(../img/2b.webp);
}

.terza:hover{
    background-image: url(../img/3b.webp);
}

/* seconda riga */
.quarta{
    background-image: url(../img/4.webp);
}

.quinta{
    background-image: url(../img/5.webp);
}

.sesta{
    background-image: url(../img/6.webp);
}

/* seconda riga hover */
.quarta:hover{
    background-image: url(../img/4b.webp);
}

.quinta:hover{
    background-image: url(../img/5b.webp);
}

.sesta:hover{
    background-image: url(../img/6b.webp);
}